*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}
#header{
    width: 60%;
    height: 100vh;
    background-image: url(images/Norm+Jacob.jpg);
    background-size: cover; 
    background-position: center;
}
.container{
    padding: 10px 10%;

}
.logo{
    width: 100px;
    height: 100px;
}

.timeline-header h3 .subrole {
  display: block;
  font-weight: 400;
  font-size: 0.7em;
  color: #888;
  margin-top: .25rem;
}
